<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="POCO_Generator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <POCO_Generator.Properties.Settings>
            <setting name="DebugLogOptions" serializeAs="String">
                <value>Flow, Error, Informational, Warning, System, Performance, ShowModuleMethodAndLineNumber, ShowTimeOnly, HideThreadID, SendEmail</value>
            </setting>
            <setting name="LastDBServer" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="UseWindowsAuthentication" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConnectionTimeout" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="CommandTimeout" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ConnectionRetryCount" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ConnectionRetryInterval" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DBApplicationName" serializeAs="String">
                <value>POCOGenerator</value>
            </setting>
            <setting name="DefaultDB" serializeAs="String">
                <value>master</value>
            </setting>
            <setting name="DBUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="DBPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="DBPortNumber" serializeAs="String">
                <value>1433</value>
            </setting>
            <setting name="ConnectionPooling" serializeAs="String">
                <value>True</value>
            </setting>
        </POCO_Generator.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.PerformanceCounter" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>